version: "3.9"

services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: prod_stage
      args:
        NODE_ENV: prod
    ports:
      - "3030:80"
    env_file:
      - ./client/.env.prod
    environment:
      NODE_ENV: prod
    depends_on:
      - server
    restart: unless-stopped

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: prod_stage
      args:
        NODE_ENV: prod
    ports:
      - "5050:5050"
    env_file:
      - ./server/.env.prod
    environment:
      NODE_ENV: prod
    restart: unless-stopped
