/* Self-hosted fonts declarations */

/* Makabiyg Regular */
@font-face {
    font-family: 'Makabiyg';
    src: url('../../assets/fonts/makabiyg/makabiyg/makabiyg-webfont.woff') format('woff'),
         url('../../assets/fonts/makabiyg/makabiyg/makabiyg-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* GanCLM Bold (optional, available if you want bold Hebrew headlines) */
@font-face {
    font-family: 'GanCLM';
    src: url('../../assets/fonts/gan/gan/ganclm_bold-webfont.woff') format('woff'),
         url('../../assets/fonts/gan/gan/ganclm_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* GanCLM Heavy alias (map 900 to same bold source for consistency across contexts) */
@font-face {
    font-family: 'GanCLM';
    src: url('../../assets/fonts/gan/gan/ganclm_bold-webfont.woff') format('woff'),
         url('../../assets/fonts/gan/gan/ganclm_bold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Dragon Regular */
@font-face {
    font-family: 'Dragon';
    src: url('../../assets/fonts/dragon/dragon-webfont.woff') format('woff'),
         url('../../assets/fonts/dragon/dragon-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* MPLUSRounded1c - multiple weights (TTF available) */
@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('../../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Noot Regular (from Web Font package) */
@font-face {
    font-family: 'Noot';
    /* Encode space in folder name to ensure cross-platform resolution */
    src: url("../../assets/fonts/Noot_April13/Noot_April13/Web%20Font/noot-aj.woff") format('woff'),
         url("../../assets/fonts/Noot_April13/Noot_April13/Web%20Font/noot-aj.ttf") format('truetype'),
         url("../../assets/fonts/Noot_April13/Noot_April13/Noot.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Rubik Spray Paint Regular */
@font-face {
    font-family: 'RubikSprayPaint';
    src: url('../../assets/fonts/Rubik_Spray_Paint/RubikSprayPaint-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Solitreo Regular */
@font-face {
    font-family: 'Solitreo';
    src: url('../../assets/fonts/Solitreo/Solitreo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


