

/* =====================
   hr
   ===================== */

    hr {
      inline-size: 100%;
      border: 1px solid var(--border-color);
      margin: var(--spacing-xl) 0;
    }

/* =====================
   Links
   ===================== */ 
    a {
      color: var(--primary-color);
      text-decoration: none;
    }

    a:hover {
      color: var(--primary-dark);
    }
 
    
/* =====================
   Lists
   ===================== */ 

    ul, ol {
      padding-inline-start: 20px;
    }

/* =====================
   Tables
   ===================== */
  table {
    text-align: start;
  }


/* =====================
   Images
   ===================== */
    img {
      max-inline-size: 100%;
      block-size: auto;
    }

/* =====================
     Required Mark
 ===================== */
 
    .required-mark {
      color: var(--error-color);
      margin-inline-start: var(--spacing-sm);
    }

/* =====================
     Spinner Styles
 ===================== */

 .spinner-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-spinner);

}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-block-start: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  inline-size: 60px;
  block-size: 60px;
  animation: spin 1.5s linear infinite;
}

.spinner-icon {
  animation: spin 1s linear infinite;
  font-size: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

