/* Page Header Component */
.page-header {
    /* display: flex;
    justify-content: space-between; */
    align-items: start;
    text-align: start;
    padding: 2rem 3rem 2rem;
    position: relative;
}

/* .page-header__content {
    text-align: start;
} */

.page-header h1 {
    font-size: var(--font-size-2xl);
    color: var(--text-primary);
    margin-block-end: var(--spacing-xs);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    position: relative;
    display: inline-block;
}


/* .login-title::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 60px;
    height: 3px;
    background: linear-gradient(90deg, #d32f2f, #ff4444);
    transform: translateX(-50%);
    border-radius: 2px;
} */


.page-header p {
    font-size: var(--font-size-md);
    color: var(--text-secondary);
    margin: 0;
    line-height: var(--line-height-normal);
}

.page-header__action {
    margin-inline-end: var(--spacing-lg);
}


/* Card Header Component */
.card-header {
    padding: var(--spacing-md) var(--spacing-md) var(--spacing-sm);
    border-block-end: 1px solid var(--border-light);
}

.card-header h3 {
    font-size: var(--font-size-md);
    color: var(--text-primary);
    margin: 0;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
}




/* Responsive Design */
@media (max-width: 768px) {
    .page-header {
        padding: 2rem 1.5rem 1.5rem;
        flex-direction: column;
        align-items: stretch;
        gap: var(--spacing-md);
    }

    .page-header__action {
        margin-inline-end: 0;
        display: flex;
        justify-content: start;
    }

    .page-header h1 {
        font-size: var(--font-size-xl);
    }

    .page-header p {
        font-size: var(--font-size-sm);
    }

}

/* Print Styles */
@media print {
    .page-header {
        padding: 1cm 0;
        break-inside: avoid;
    }
} 