.page-container {
    padding: 6rem 1rem 1rem;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.page-header {
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #333;
    padding: 1rem 0;
    border-radius: 12px 12px 0 0;
}

.page-header h1 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.4;
}

.header-line {
    width: 50px;
    height: 4px;
    background-color: #e63946;
    margin: 10px auto 0;
}

.step-page-container {
    /* display: flex; */
    justify-content: center;
    direction: rtl;
    border: solid;
    border-radius: 16px 16px 0 0;
  }

@media (max-width: 768px) {
    .page-container {
        max-width: 90%;
    }
}
