/* שורת חיפוש */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem; /* 20px */
    gap: 0.625rem;
    position: relative; /* חשוב עבור מיקום הדיווחים */
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 40rem; /* 500px */
}

.search-input-wrapper input {
    width: 100%;
    padding: 0.5rem 1.875rem 0.5rem 0.625rem;
    font-size: 1.25rem;
    border-radius: 1.5625rem;
    border: 1px solid #ccc;
    direction: rtl;
    transition: border 0.3s ease;
}

.search-input-wrapper input:focus {
    border-color: #ff4d4d;
    outline: none;
}

/* אייקון חיפוש */
.search-icon {
    position: absolute;
    left: 0.625rem;
    font-size: 1.125rem;
    color: #888;
}

/* כפתור סינון מתקדם */
.filter-button-wrapper {
    display: flex;
    align-items: center;
}

.filter-button {
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    color: #333;
    border: 0.125rem solid #333;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
}

.filter-button:hover {
    background-color: #ff4d4d;
    color: white;
    border-color: #ff4d4d;
}

.filter-button svg {
    font-size: 1.25rem;
}

/* רשימת תוצאות חיפוש נפתחת */
.search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 0.25rem;
}

.search-results-dropdown li {
    padding: 0.75rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.search-results-dropdown li:hover {
    background-color: #f0f0f0;
}

.search-results-dropdown .business-name {
    font-weight: bold;
}

.search-results-dropdown .business-address {
    font-size: 0.875rem;
    color: #555;
}

/* הדגשת תו החיפוש */
.search-results-dropdown strong {
    font-weight: bold;
    color: #ff4d4d;
}

/* חיפוש - תמיכה במובייל */
@media (max-width: 767px) {
    .search-bar {
        flex-direction: row; /* שמירה על אותו קו גם במובייל */
        flex-wrap: nowrap;   /* מניעת ירידה שורה */
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .search-input-wrapper {
        width: 100%; /* או אחוז מתאים כדי להשאיר מקום לכפתור */
    }

    .search-input-wrapper input {
        padding: 0.5rem 1rem;
        font-size: 1rem; /* הקטנת הגופן למובייל */
    }

    .search-icon {
        left: 0.5rem; /* התאמת אייקון החיפוש */
        font-size: 1rem; /* גודל אייקון קטן יותר */
    }

    .filter-button-wrapper {
        flex-shrink: 0; /* מונע מהכפתור להידחס */
    }

    .filter-button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}
