/* מיכל ראשי */
.search-result-page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 1rem 1rem;
}


/* עיצוב תוויות הפילטרים */
.active-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    font-size: 14px;
}

.filter-label {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.filter-tag {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.filter-tag .remove-filter {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.remove-filter:hover {
    color: #e60000;
}


@media (max-width: 600px) {

    .search-result-page-container {
        padding: 4rem 1rem 1rem;
    }
}
